.transaction-history {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
	border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
	border-radius: 5px;
}

.row:nth-child(odd) {
	background: #ffffff;
}

.cells {
	width: 290px;
	padding: 15px 0;
}
.head {
	composes: cells;
	background: #00bcd5;
}

.data {
    composes: cells;
	text-align: center;
}
